body {
  color: #333;
}

p {
  line-height: 1.7em;
}

a {
  color: #E4003B;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.tory a {
  color: rgb(8, 157, 227);
}

h1 a {
  text-decoration: none;
  color: #555;
}

h1 a:hover {
  text-decoration: underline;
}
